footer{
    background-color: rgb(30, 157, 236);
    font-size: 0.8rem;
    
    display: flex;
    justify-content: space-between;
    padding: 25px;
    ul li{
        height: 20px;
        color: white;
        margin: 5px;
    }
    a{
        color:white
    }
          
}