footer{
    background-color: map-get($map: $colores, $key: color-primario );
    font-size: 0.8rem;
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px;
    ul li{
        height: 20px;
        color: map-get($map: $colores, $key: color-blanco );
        margin: 5px;
    }
    a{
        color:map-get($map: $colores, $key: color-blanco )
    }
          
}