header{
    background-color:map-get($map: $colores, $key: color-blanco ) ;
    color: map-get($map: $colores, $key: color-primario );   
    padding: 15px;

    display: flex;
    justify-content:space-between;
    align-items: center;
    img{
        max-width: 55px;
    }
    nav{
        width: 60%;
        ul{
            display: flex;
            justify-content: space-around; 
            li{
                display: inline-block; 
            }
        }
    }

}

@media(max-width:966px){
    header{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      row-gap: 10px;
      justify-items: center;
      align-items: center;
      nav ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;
        justify-items: center;
      }
    }
    
  }