form{
    padding: 15px;
    color: map-get($map: $colores, $key: color-secundario );
    a{
        color: map-get($map: $colores, $key: color-secundario );
        margin: 30px;  
    }
   }

label{
  width: 240px;
  display: inline-block;
}

   .nombre,.numero{
    padding: 15px;
  }
 
.correo{
  @extend.nombre;
  color: map-get($map: $colores, $key: color-primario )
}
  
input[type=text],input[type=email],input[type=tel]{
    width: 30%;
    padding: 12px 20px;
  }
    
input[type=submit]{
    padding: 12px 20px;
    color:map-get($map: $colores, $key: color-blanco);
    background-color:map-get($map: $colores, $key: color-primario );
    border: none;
    &:hover{
        background-color: map-get($map: $colores, $key: color-secundario );
        transition: 1s
    }
  }

